<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register new account</title>
</head>
<body>

<h1>Add a new student</h1>
<form th:action="@{/student/register}" th:object="${account}" method="post">
  <input type="text" name="username" placeholder="Enter username"><br>
  <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span><br>

  <input type="password" name="password" placeholder="Enter password"><br>
  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span><br>

  <input type="text" name="firstName" placeholder="Enter first name"><br>
  <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span><br>

  <input type="text" name="lastName" placeholder="Enter last name"><br>
  <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</span><br>

  <input type="date" name="dob" required><br>
  <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Dob error</span><br>

  <input type="submit" value="SAVE">
</form>
</body>
</html>