<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register new account</title>
</head>
<body>

<h1>Add a new teacher account</h1>
<form th:action="@{/admin/teacher/add}" th:object="${account}" method="post">
  <input type="text" name="username" placeholder="Enter username" th:value="*{username}"
         pattern="[A-Z]{2}\d{6}"
         oninvalid="setCustomValidity('Username must be your student code! (Ex: HE162123)')"
         oninput="setCustomValidity('')"><br>

  <div th:if="${message}">
    There is already an account with given username!
  </div>

  <br>
  <input type="password" name="password" placeholder="Enter password"
         th:value="*{password}"
         oninvalid="setCustomValidity('Password length must be greater than 4')"
         oninput="setCustomValidity('')"
        minlength="5" ><br><br>

  <input type="text" name="firstName" placeholder="Enter first name" th:value="*{firstName}" required><br><br>

  <input type="text" name="lastName" placeholder="Enter last name" th:value="*{lastName}" required><br><br>

  <input type="date" name="dob" required th:value="${dob}"><br><br>


  <input type="submit" value="ADD">
</form>
</body>
</html>