<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All teachers</title>
</head>
<body>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>Account ID</th>
        <th>Action</th>
    </tr>
    <tr th:each="teacher : ${teacherList}">
        <td th:text="*{teacher.id}"></td>
        <td th:text="*{teacher.accountId}"></td>
        <td>
            <a href="#">Assign</a>
            <a href="#">Update</a>
            <a href="#" style="color: red">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>