<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All teachers</title>
</head>
<body>
<table border="1px">
    <tr>
        <th>Code</th>
        <th>Full Name</th>
        <th>DOB</th>
        <th>Action</th>
    </tr>
    <tr th:each="classroom : ${classroomList}">
        <td th:text="*{classroom.classroomName}"></td>
        <td th:text="*{classroom.currentNoStudent}"></td>
        <td th:text="*{classroom.noStudent}"></td>
        <td th:text="*{classroom.classType}"></td>
        <td th:text="*{classroom.teacherName}"></td>
        <td th:text="*{classroom.subjectName}"></td>
        <td>
            <a href="#">Assign</a>
            <a href="#">Update</a>
            <a href="#" style="color: red">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>