<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classroom List</title>
</head>
<body>
<h1>Available classroom</h1>
<table border="1px">
    <tr>
        <th>Name of classroom</th>
        <th>Current Number of Student</th>
        <th>Max Number of student</th>
        <th>Teacher ID</th>
    </tr>
    <tr th:each="class : ${classroomList}">
        <td th:text="*{class.classroomName}"></td>
        <td th:text="*{class.currentNoStudent}"></td>
        <td th:text="*{class.maxNoStudent}"></td>
        <td th:text="*{class.teacherId}"></td>
        <td>
            <a href="#">Edit</a>
        </td>
    </tr>
</table>
<nav aria-label="Page navigation example" class="mt-6 flex justify-end">
    <ul class="inline-flex -space-x-px">
        <li>
            <a th:if="${pageNumber - 1 >= 1}" th:href="@{/classroom/classroomList(pageNumber=${pageNumber - 1})}">Previous</a>
            <a th:if="${pageNumber - 1 < 1}">Previous</a>
        </li>
        <li th:if="${pageNumber - 2 >= 1}">
            <a th:href="@{/classroom/classroomList(pageNumber=${pageNumber - 2})}"
               th:text="${pageNumber -2}">1</a>
        </li>
        <li th:if="${pageNumber - 1 >= 1}">
            <a th:href="@{/classroom/classroomList(pageNumber=${pageNumber - 1})}"
               th:text="${pageNumber - 1}">2</a>
        </li>
        <li>
            <a href="#" aria-current="page"
               th:text="${pageNumber}">3</a>
        </li>
        <li th:if="${pageNumber + 1 <= totalPages}">
            <a
                    th:href="@{/classroom/classroomList(pageNumber=${pageNumber + 1})}"
                    th:text="${pageNumber + 1}">4</a>
        </li>
        <li th:if="${pageNumber + 2 <= totalPages}">
            <a
                    th:href="@{/classroom/classroomList(pageNumber=${pageNumber + 2})}"
                    th:text="${pageNumber + 2}">5</a>
        </li>
        <li>
            <a th:if="${pageNumber + 1 <= totalPages}" th:href="@{/classroom/classroomList(pageNumber=${pageNumber + 1})}"
            >Next</a>
            <a th:if="${pageNumber + 1 > totalPages}"
            >Next</a>
        </li>
    </ul>
</nav>
</body>
</html>