<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All classroom</title>
</head>
<body>
<a href="/admin">Back to Class Management</a><br><br>
    <h1>List of all classrooms</h1>
    <table border="1px">
        <tr>
            <th>ClassName</th>
            <th>Current No. student</th>
            <th>Max No. student</th>
            <th>Class type</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>
        <tr th:each="classroom : ${classroomList}">
            <td th:text="*{classroom.classroomName}"></td>
            <td th:text="*{classroom.currentNoStudent}"></td>
            <td th:text="*{classroom.noStudent}"></td>
            <td th:text="*{classroom.classType}"></td>
            <td th:text="*{classroom.teacherName}"></td>
            <td th:text="*{classroom.subjectName}"></td>
            <td>
                <a href="#">Assign</a>
                <a href="#">Update</a>
                <a href="#" style="color: red">Delete</a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation example" class="mt-6 flex justify-end">
        <ul class="inline-flex -space-x-px">
            <li>
                <a th:if="${pageNumber - 1 >= 1}" th:href="@{/admin/classroom/all(pageNumber=${pageNumber - 1})}">Previous</a>
                <a th:if="${pageNumber - 1 < 1}">Previous</a>
            </li>
            <li th:if="${pageNumber - 2 >= 1}">
                <a th:href="@{/admin/classroom/all(pageNumber=${pageNumber - 2})}"
                   th:text="${pageNumber -2}">1</a>
            </li>
            <li th:if="${pageNumber - 1 >= 1}">
                <a th:href="@{/admin/classroom/all(pageNumber=${pageNumber - 1})}"
                   th:text="${pageNumber - 1}">2</a>
            </li>
            <li>
                <a href="#" aria-current="page"
                   th:text="${pageNumber}">3</a>
            </li>
            <li th:if="${pageNumber + 1 <= totalPages}">
                <a
                        th:href="@{/admin/classroom/all(pageNumber=${pageNumber + 1})}"
                        th:text="${pageNumber + 1}">4</a>
            </li>
            <li th:if="${pageNumber + 2 <= totalPages}">
                <a
                        th:href="@{/admin/classroom/all(pageNumber=${pageNumber + 2})}"
                        th:text="${pageNumber + 2}">5</a>
            </li>
            <li>
                <a th:if="${pageNumber + 1 <= totalPages}" th:href="@{/admin/classroom/all(pageNumber=${pageNumber + 1})}"
                >Next</a>
                <a th:if="${pageNumber + 1 > totalPages}"
                >Next</a>
            </li>
        </ul>
    </nav>
</body>
</html>